<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Model</label>
    <div class="col-sm-10">
        <input type="text" ng-model="model.name" class="form-control" id="name" placeholder="Model Name Here"/>
    </div>
    <br/>
    <br/>
    <br/>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    	<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" ng-click="state=true" ng-init="state=true" checked>
		   		Add Training Data
		  </label>
		</div>
		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" ng-click="state=false">
		    	Upload Training Data
		  </label>
		</div>
        <br/>
    	<br/>
        <div id="addTrain" class="row" ng-if="state">
          <div class="col-xs-5">
		    <input type="text" class="form-control" placeholder="Text" ng-model="text">
		  </div>
		  <div class="col-xs-3">
		    <input type="text" class="form-control" placeholder="Category Type" ng-model="category">
		  </div>
		</div>
		<div id="uploadTrain" class="row" ng-if="!state">
          <div class="col-xs-5">
		    <input type="text" class="form-control" placeholder="Upload a File in JSON Format">
		  </div>
		  <div class="col-xs-3">
		    <input type="submit" class="btn btn-primary" value="Browse"/>
		  </div>
		</div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>